<%= render "customers/heading" %>
<h1>Editing payment</h1>

<%= render 'form' %>

<%= link_to 'Show', @payment2 %> 
<br/>
<%= link_to 'PAYMENT INDEX', payment2s_path %>
<br/>
 <%= link_to 'New Customer', new_customer_path %>
 <br/>
 <%= link_to 'New Product ' , new_product_path %>
<br/>
 <%= link_to 'Products Index ' ,products_path %>
<br/>
 <%= link_to 'Customers Index ',customers_path %>
