<%= render "heading" %>
<h1>NEW CUSTOMER</h1>

<%= render 'form' %>

<%= link_to 'Customers', customers_path %>
<br/>
 <%= link_to 'Products Index' , products_path %>
 <br/>
 <%= link_to 'Payment Index' , payment2s_path %>
<br/>
 <%= link_to 'New Product ' , new_product_path %>
<br/>
 <%= link_to 'New Payment' , new_payment2_path %>

