<%= render "customers/heading" %>
<p id="notice"><%= notice %></p>

<p>
<div class=px>
  <b>Sku:</b>
  <%= @product.sku %>
   </div>
</p>

<p>
<div class=px>
  <b>Description:</b>
  <%= @product.description %>
    </div>
</p>

<p>
<div class=px>
  <b>Price:</b>
  <%= @product.price %>
    </div>
</p>


<%= link_to 'EDIT', edit_product_path(@product) %> |
<%= link_to 'PRODUCTS INDEX ', products_path %>
